.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: #fafafa
  }
}

.chartsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chartContainer {
  margin: 20px;
}