.tooltipContainer {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.5);
}

.tooltipHeading {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}

.tooltipItemList {

}

.tooltipItem {
  display: block;
  margin: 5px 0;
}

.legendItemList {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.legendItem {
  margin: 0 10px;
}