.container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #fafafa
  }

}

.version {
  position: fixed;
  color: #fafafa;
  top: 10px;
  right: 20px;
  z-index: 100;
}

.button {
  width: 200px;
  height: 100px;
  font-size: 38px;
  margin-bottom: 20px;
}

