.container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fafafa;

  h2 {
    font-size: 32px;
    margin: 0;
  }
}

.screenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.version {
  position: fixed;
  color: #fafafa;
  top: 18px;
  right: 20px;
  z-index: 100;
}

.button {
  padding: 10px 20px;
  font-size: 34px;
  margin: 10px 0;
}

.checkboxNotExpanded {
  margin-bottom: 60px;
}

.notification {
  margin: 10px 0 20px 0;
}

.creditCardsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

