.container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fafafa;

  h2 {
    font-size: 32px;
    margin: 0;
  }
}

.screenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.version {
  position: fixed;
  color: #fafafa;
  top: 10px;
  right: 20px;
  z-index: 100;
}

.button {
  padding: 10px 20px;
  font-size: 34px;
  margin: 20px 0;
}

.checkboxNotExpanded {
  margin-bottom: 60px;
}

.notification {
  margin: 10px 0 20px 0;
}

.tabs {
  margin-bottom: 40px;
}

.infoContent {
  .special {
    color: #d2a71f;
  }
  .link {
    color: #1e80b4;
    text-decoration: underline;
    cursor: pointer;
  }
}

