.checkboxContainer {
  display: flex;
  align-items: center;

  span {
    color: #fafafa;
    line-height: 30px;
    font-size: 20px;
  }

  input[type="checkbox"] {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    accent-color: #5fa35c;
    cursor: pointer;
  }
}