html, body {
    margin: 0;
    background-color: #222222;
    touch-action: none;
}

* {
    font-family: "Comic Sans MS", serif;
}

button {
    color: #222222;
    background: #fafafa;
    border-radius: 10px;
    border: 2px solid #5fa35c;
    cursor: pointer;
}

button:hover {
    background: #e6e6e6
}