@font-face {
    font-family: 'AmasticBold';
    src: url(fonts/AmaticSC-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Amastic';
    src: url(fonts/AmaticSC-Regular.ttf) format('truetype');
}

html, body {
    margin: 0;
    background-color: #222222;
    touch-action: pan-y pan-x;
    overflow: hidden;
}

* {
    font-family: "AmasticBold", serif;
    font-size: 20px;
    font-weight: 600;
}

h1 {
    font-size: 50px;
}

button {
    color: #222222;
    background: #fafafa;
    border-radius: 10px;
    border: 2px solid #5fa35c;
    cursor: pointer;
}

button:hover {
    background: #e6e6e6
}