@font-face {
    font-family: 'AmasticBold';
    src: url(fonts/AmaticSC-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Amastic';
    src: url(fonts/AmaticSC-Regular.ttf) format('truetype');
}

html, body {
    margin: 0;
    background-color: #111111;
    touch-action: pan-y pan-x;
    overflow: hidden;
}

* {
    font-family: "AmasticBold", serif;
    font-size: 20px;
    font-weight: 600;
}

h1 {
    font-size: 50px;
}