.minMaxLabels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #fafafa;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  color: #fafafa;
  margin-bottom: 8px;
}

.label {
  display: flex;
  align-items: center;
}

.sliderContainer {

}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 5px);
  height: 10px;
  background: #dadae5;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;

  &::-moz-range-thumb {
    width: 28.8px;
    height: 38px;
    background: url('../../../public/egg2.png');
    background-size: cover;
    cursor: pointer;
    border: 0;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28.8px;
    height: 38px;
    background: url('../../../public/egg2.png');
    background-size: cover;
    cursor: pointer;
    border: 0;
  }

  &:active::-webkit-slider-thumb {
    filter: invert(20%);
  }
}

.tooltipIcon {
  font-family: "Comic Sans MS", serif;
  text-align: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 100%;
  padding: 2px;
  font-size: 16px;
  margin-left: 8px;
  background-color: rgba(17, 17, 17, 0.2);
}
